name: Deploy Discord Bot

on:
  push:
    branches:
      - master  # Adjust to match your branch name

jobs:
  deploy:
    runs-on: self-hosted  # Ensure it runs on your Raspberry Pi

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install --upgrade pip
          pip cache purge
          pip install --no-cache-dir -r requirements.txt
      - name: Store Discord Bot Token in Environment
        run: |
          echo "DISCORD_BOT_TOKEN=${{ secrets.DISCORD_BOT_TOKEN }}" | sudo tee /etc/environment

      - name: Install ffmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - name: Create systemd Service File
        run: |
          echo "[Unit]
          Description=TurboBot Discord Bot
          After=network.target

          [Service]
          Type=simple
          User=pi
          WorkingDirectory=/home/pi/actions-runner/_work/turboBot/turboBot
          EnvironmentFile=/etc/environment
          ExecStart=/home/pi/actions-runner/_work/turboBot/turboBot/venv/bin/python3 /home/pi/actions-runner/_work/turboBot/turboBot/turboBot.py
          Restart=always
          RestartSec=5

          [Install]
          WantedBy=multi-user.target" | sudo tee /etc/systemd/system/turbobot.service

      - name: Reload and Restart systemd Service
        run: |
          sudo systemctl daemon-reload
          sudo systemctl enable turbobot
          sudo systemctl restart turbobot
